<div class="row">
    <div class="col-md-12">
        <h2>{{title}} pedido</h2>
    </div>
</div>

<div class="row">
        <form name="produtoForm" novalidate ng-submit="salvar(produto)">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Código do Pedido</label>
                <input type="text" class="form-control" id="" name="codigo" ng-model="produto.codigo" placeholder="Código" required>
                <span style="color: red" ng-if="produtoForm.codigo.$invalid && produtoForm.codigo.$dirty">Campo obrigatorio</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Emissão</label>
                <input type="text" class="form-control" name="descricao" ng-model="pedido.emissao">
            </div>
        </div>
        <div class="col-md-4">
        
        </div>
        <div class="col-md-12" style="padding-top:25px">
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Desconto</th>
                        <th>Total</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="form-group" style="padding-top:10px;">
                                <label for="">Total</label>
                            </div> 
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="" name="total" ng-model="pedido.total">
                            </div> 
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar produto">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" style="padding: 9px">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <input type="text" class="form-control" id="" name="codigo" ng-model="produto.codigo" placeholder="Código Produto" required>
                                <span style="color: red" ng-if="produtoForm.codigo.$invalid && produtoForm.codigo.$dirty">Campo obrigatorio</span>
                            </div>-->
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" name="descricao" ng-model="produto.descricao">
                            </div>
                        </td>
                        <td>
                           <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Preço" name="preco" ng-model="produto.preco">
                            </div>   
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Preço" name="preco" ng-model="produto.preco">
                            </div>  
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Preço" name="preco" ng-model="produto.preco">
                            </div>   
                        </td>
                        <td>
                            <div class="form-group" style="float:right;">
                            <button type="submit" class="btn btn-success">Incluir produto</button>
                        </div>  
                        </td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" style="float:right">
            <button type="submit" class="btn btn-primary" ng-disabled="produtoForm.$invalid" >Salvar</button>
        </div>
        </form>
    </div>
</div>